node_modules/
.idea/
.angulardoc.json
.vscode/
logs
*.iml
api.config.*.js
logs/
dist/
*.orig
webapp/src/app/app.version.json
git-version.json
coverage/
package-lock.json
yarn.lock
.angular/
api.config.*.json
api/dump.rdb
