<form
  [formGroup]="form"
  (ngSubmit)="submit($event)"
  autocomplete="on"
  spellcheck="true"
>
  <app-form-actions
    [showSubmit]="showSubmit"
    [showCancel]="showCancel"
    [showDelete]="showDelete"
    (onSubmit)="submit($event)"
    (onCancel)="cancel($event)"
  ></app-form-actions>
  <ng-content></ng-content>
  <app-form-actions
    [showSubmit]="showSubmit"
    [showCancel]="showCancel"
    [showDelete]="showDelete"
    (onSubmit)="submit($event)"
    (onCancel)="cancel($event)"
  ></app-form-actions>
</form>
