.bg-dark-mode{
  background-color: #454d55;
}

.bg-light-mode{
  background-color: #e9ecef;
}

.brand_logo_container {
  position: absolute;
  height: 140px;
  width: 130px;
  top: -75px;
  text-align: center;
}

.brand_logo {
  height: 140px;
  width: 130px;
  padding-top: 10px;
}

.brand-name{
  margin-top: 75px;
}