<a class="nav-link py-0" data-toggle="dropdown" href="#">
  <div class="image h-100">
    <img
      src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg"
      class="img-circle elevation-2 h-100"
      alt="User Image"
    />
  </div>
</a>
<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
  <span class="dropdown-item">
    <div class="media">
      <img
        src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg"
        alt="User Avatar"
        class="img-size-50 mr-3 img-circle"
      />
      <div class="media-body">
        <h3 class="dropdown-item-title">Alexandre Pierce</h3>
        <p class="text-sm">alexandre@getcontrol.com</p>
        <p class="text-sm text-muted">
          <i class="far fa-clock mr-1"></i>Online desde 21:49h
        </p>
      </div>
    </div>
  </span>

  <div class="dropdown-divider"></div>
  <a routerLink="login" class="dropdown-item dropdown-footer">
    <i class="fas fa-sign-out-alt mr-2"></i>Sair
  </a>
</div>
