<app-form
  [showSubmit]="false"
  [showDelete]="false"
  [showCancel]="false"
  (onSubmit)="onSubmit()"
  [form]="form"
>
  <app-form-field-text
    placeholder="Usuário"
    [control]="username"
    [appendIcon]="'fa-user'"
  ></app-form-field-text>
  <app-form-field-password
    placeholder="Senha"
    [control]="password"
    [appendIcon]="'fa-lock'"
  ></app-form-field-password>

  <div class="row">
    <!-- <div class="col-8">
      <div class="icheck-primary">
        <input type="checkbox" id="remember" />
        <label for="remember"> Remember Me </label>
      </div>
    </div> -->

    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">Entrar</button>
    </div>
  </div>
</app-form>
